	/* julius-sans-one-regular - latin */
@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/julius-sans-one-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Julius Sans One'), local('JuliusSansOne-Regular'),
       url('../fonts/julius-sans-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/julius-sans-one-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/julius-sans-one-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/julius-sans-one-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/julius-sans-one-v5-latin-regular.svg#JuliusSansOne') format('svg'); /* Legacy iOS */
}
	body {
  	width: 95vw;
  	height: 95vh;
  	background-color: turquoise;
}

.container {
	height:100%;
	width:100%;
	color:white;
	font-family: Frank Ruhl Libre;
	text-align: center;
}

.oneblock {
 	background-color: #035959;
 	font-family: Frank Ruhl Libre;
 	width: 50%;
 	height: 30%;
	display: inline-block;
 	float: left;
}

.twoblock {
 	background-color: #0B8D80;
	font-family: Frank Ruhl Libre;
	width: 30%;
	height: 30%;
 	display: inline-block;
 
}

.threeblock {
	background-color: #212629;
	font-family: Frank Ruhl Libre;
 	width: 20%;
 	height: 30%;
 	display: inline-block; 
 	float: right;
}

.fourblock {
 	background-color: #210202;
	font-family: Frank Ruhl Libre;
  	width: 50%;
  	height: 70%;
  	display: inline-block; 
  	float: left;
}
.fiveblock {
  	background-color: #005921;
	font-family: Frank Ruhl Libre;
  	width: 50%;
  	height: 70%;
	display: inline-block; 
  	float: right;
}
