body {
  width: 95%;
	height: 95%;
	background-color: turquoise;
}

.oneblock {
 background-color:#035959; 
 width: 50%;
 min-height: 30%;
 display: inline-block;
 font-family:Julius Sans one;
 font-size: 30px;
 color:white;
}

.twoblock {
 background-color: #0B8D80; 
 width: 30%;
 min-height: 40%;
 display: inline-block;
 font-family: Harrow, Impact;
 font-size: 30px;
 color:white;
}

.threeblock {
 background-color: #212629; 
 width: 19%;
 min-height: 30%;
 display: inline-block;
 font-family: Harrow, Impact;
 font-size: 30px;
 color:white;
}

.fourblock {
 background-color: #210202; 
 width: 50%;
 height: 70%;
 display: inline-block;
 font-family: Harrow, Impact;
 font-size: 30px;
 color:white;
}

.fiveblock {
 background-color: #005921; 
 width: 49%;
 height: 70%;
 display: inline-block;
 font-family: Harrow, Impact;
 font-size: 30px;
 color: white;
}


p {
 padding-top: 80px;
}

.bottom {
  padding-top: 250px;
}
